<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Page Not Found</title>
    <style>
      body {
        background-color: #100735;
        color: #ffffff;
        font-family: Arial, sans-serif;
        text-align: center;
      }
      h1 {
        font-size: 4rem;
        margin-top: 3rem;
      }
      p {
        font-size: 1.5rem;
        margin-bottom: 3rem;
      }
      a {
        color: #ffffff;
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <h1>Oops!! You are in Void!</h1>
    <p>We couldn't find the page you were looking for.</p>
    <img src="https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/62178f980d83fea40c9e2e8c_WhYVxazNiB7OJYA_-lTTErQY0j0769r0nYbCduJ0qZ0byXZD3BWrnLmU0ZRdfFK3r8mBYRp2RZbvtmWS5lcQIUPUKhyUnY6siNcHecwEuSL9eEFtWzebyHCR6NGSZR7M9G5_3Nsd.jpeg" alt="404 Error" width="400">
    <p>But don't worry, our Austronauts will find you soon!</p>
    <a href="/">Homepage</a>
  </body>
</html>
