<div class="row">

  <section class="main col-md-9">
    <article>
      <h2>About</h2>
      <p>Currently Studying Computer Programming with interests in Artificial Intelligence and data science</p>
          <p>Love watching sports espically hockey and tennis. Favourite player for tennis is Novac Djokovic</p>
          <p>Lets go Blue jays and Boston Bruins</p>
          <p>Nayan ne bandh rakhi ne, Mein jyara tamne joya che, Tame cho ena karta, Pan vadhare tamne joya che</p>
          <p>I'm a figure skater trained lifeguard cpr first aid I play many sports from hockey basketball baseball 
            volleyball soccer table tennis and long court tennis badminton I love animals and have pet birds 
            tht I train for fun I love adventure exploring cooking baking peforming 
            I like photography filming programming animation dance. 
            Me and my friends have our own dance team so we teach and we peforme for various events and have peformed internationally for Bollywood and Hollywood actors. 
            Also covers requested vids too and freestyle too.
            like camping traveling spontaneous trips I like to sketch draw paint workout skiing sometimes 
            recently graduated from nursing and arts and I'm also doing compsci along with tht
            I write produce record and play multiple instruments the piano accoustic electric and base guitar
            I sing I also dance I write raps shayries and spoken word poetry
            And free style too sometime
            I love adventure exploring
            I did karata and martial arts bt quit later I play professional table tennis and was asked to play for the Olympics but couldn't make it happen wth tours going on
            I'm a huge tennis fan 🤩🙈 and #bluefamily crew</p>
          <p>Huge fan of space, sci-fi, and one of my all time fav people and an amazing siger as I like to call him the one and only rockstar bheeghe alfaz boy vanshu.</p>
          <p>Meri skin kare glow, Mera naam kare shine, Ab kitni ya toshu is mine</p>
          <p> Saath tera jo hota to dunya se lar jaate
                Mohobat kya hai jani kash tumko bta pate
                Saath tera jo hota to dunya se lar jaate
                Mohobat kya hai jani kash tumko bta pate
                Dil se tuj ko chaaaha or nibhaege sada </p>    
    </article>
  </section>
  <aside class="col-md-12">
    <h2>Right Column</h2>
    <p>Yeet, Stay tuned for more updates coming soon</p>
  </aside>
</div>